@model Survey_Project.Models.QuestionViewModel



@{
    ViewData["Title"] = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>We Appreciate the FeedBack!</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionString)
        </dd>
        <br />
        
       <div class="form-group col-md-2">
           <form asp-controller="Customer" asp-action="TakeSurvey" method="post" role="form" class="ui large form">
               <br />
               <select name="choice">
                   <option value="">Select One</option>
                   <option value="@Model.OptionOne">@Html.DisplayFor(model => model.OptionOne)</option>
                   <option value="@Model.OptionTwo">@Html.DisplayFor(model => model.OptionTwo)</option>
                   <option value="@Model.OptionThree">@Html.DisplayFor(model => model.OptionThree)</option>
                   <option value="@Model.OptionFour">@Html.DisplayFor(model => model.OptionFour)</option>
               </select>
 
               <input type="submit" value="Submit">
           </form>
        </div>

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Question.QuestionId">Edit</a> |*@ @*//next question?*@
    
</div>
