@model IEnumerable<Survey_Project.Models.Survey>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Survey" asp-action="Create">Create Survey</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quarter)
            </td>
            <td>
                <a asp-controller="Survey" asp-action="SurveyQuestions">Create Survey Questions</a>
            </td>
            @*<td>
        <a asp-action="Edit" asp-route-id="@Model.SurveyId">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.AdminId">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.AdminId">Delete</a>
        </td>*@
        </tr>

           
        }
    </tbody>
</table>
