  @model Survey_Project.Models.QuestionViewModel

@{
    ViewData["Title"] = "SurveyQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fill Questions</h1>

<h4>Question type</h4>
<hr />

<div>
    <form asp-action="SurveyQuestions">
     
        <input type="hidden" asp-for="Question.SurveyId" />
   
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Question.QuestionString" class="control-label"></label>
            <input asp-for="@Model.Question.QuestionString" class="form-control" />
            <span asp-validation-for="@Model.Question.QuestionString" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.OptionOne" class="control-label"></label>
            <input asp-for="@Model.OptionOne" class="form-control" />
            <span asp-validation-for="@Model.OptionOne" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.OptionTwo" class="control-label"></label>
            <input asp-for="@Model.OptionTwo" class="form-control" />
            <span asp-validation-for="@Model.OptionTwo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.OptionThree" class="control-label"></label>
            <input asp-for="@Model.OptionThree" class="form-control" />
            <span asp-validation-for="@Model.OptionThree" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.OptionFour" class="control-label"></label>
            <input asp-for="@Model.OptionFour" class="form-control" />
            <span asp-validation-for="@Model.OptionFour" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button name=" addAnotherQuestion" value="false" type="submit">Add Another Question</button>
            <button name=" addAnotherQuestion" value="true" type="submit">Save and Exit</button>
        </div>

    </form>
     


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
